
body {
	background-color: #EEEEEE;
	font-family: 'Calibri';
}

/*  --------------------------- */
/* Navbar						*/
/*  ---------------------------	*/

.navbarDesign{
	background: linear-gradient(135deg, #556270, #00B6BA);
	min-height: 80px;
}

.nav-link {
	font-size: 15px;
}

q::before { 
  content: "/";
}

@media (max-width: 767px) 
{
    .slashes
    {
        display: none;
    }
}

.containerLeftRight {
	background: #D3D3D3;
}

/*  --------------------------- */
/* Att göra lista				*/
/*  ---------------------------	*/

.distans {
	padding: 40px 40px 15px 25px;
	margin-left: 3%
}

.inputStyle {
	box-sizing: border-box;
	padding: 10px 15px;
	width: 250px;
	border-radius: 5px;
}

.knapp{
display: inline-block;
background-color:#00B6BA;
color:#ffffff;
border-radius: 5px;
text-align:center;
padding: 10px 25px;
margin-left: 10px;
margin-top: 10px;
}

.knapp:hover{
cursor: pointer;
}

@media (max-width: 767px) 
{
    .knapp
    {
        margin-left: 0px;
    }
}

#radera {
background-color: #FF6B6B;
}

.distans footer {
	margin-top: 8px;
	font-size: 12px;
}

.attgoralista {
	font-family: 'Calibri';
	font-size: 14px;
	word-wrap: break-word;
}

.attgoralista li {
  cursor: pointer;
  margin-top: 25px;
  padding-bottom: 25px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.star {
	color: #FF6B6B;
	float: right;
	margin-right: 20px;
	margin-bottom: -100px;
}

.star:hover{
cursor: pointer;
}